
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    width: 1280px;
    margin: 0 auto;
}
.basic-block{
    text-align: center;
padding: 50px 0;
}

.head-block{
    background-image: url("../img/Layer 21@1X.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 530px;
    padding-left: 190px;
    padding-bottom: 145px;

    color: #fff;
}


.head-block-title{
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 15px;
}

.head-block-subtitle{
    margin: 0 0 25px;
    font-size: 18px;
}


.head-block-slogan {
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 45px 30px;

    display: inline-block;

    background-color:rgba(0, 0, 0, 0.5);

    border: 1px white solid;
}


.slogan-margin {
    margin-right: 50px;
}


.yellow-text {
    color: #f1ad1d;
}

.basic-title{
    color: #333333;
    font-size: 22px;
text-transform: uppercase;
    margin-bottom: 35px;
}
.basic-subtitle{
    font-size: 18px;
}
.orange-line{
    margin-top: 50px;
    border: 2px solid #f1ad1d;
    width: 60px;
}
.web-awards{
    background-image: url("../img/web awards.png");
    width: 212px;
    height: 148px;
    margin: 0 auto ;
}
.navbar-logo{
    font-size: 36px;
    font-weight: 700;
    color: #f1ad1d;
    display: inline-block;
    vertical-align: middle;
    width: 10%;
}
nav.container{
    text-transform: uppercase;
}
.navbar-menu{
list-style: none;
    display: inline-block;
    width: 89%;
    text-align: right;
   word-spacing: 60px}
.navbar-menu-item{
display: inline-block;
            }
.navbar-menu-link{
    text-decoration: none;
    font-size: 18px;
    color: #333333;

}